<head>
  <title><%= @view.title %></title>

</head>
<body>
  <%= render File.expand_path('../header.erb', __FILE__).to_sym %>
  <%= yield %>
  <%= render File.expand_path('../footer.erb', __FILE__).to_sym %>
</body>
