<form class="pure-form pure-form-aligned" action="/posts" method="post">
    <fieldset>
        <!-- <div class="pure-control-group">
            <label for="post_title">Title</label>
            <input id="post_title" name="post[title]" type="text" placeholder="Post title">
        </div> -->

        <hr>

        <div class="pure-control-group">
            <label for="post_email">Email Address</label>
            <input id="post_email" name="post[email]" type="text" placeholder="Email Address" value="<%= @view.email_value %>">
            <small class="error"><%= @view.email_error %></small>
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
